aiohttp
beautifulsoup4
git+git://github.com/google/chatbase-python.git
hachoir
numpy
Pillow
pyrogram==1.0.7 
https://github.com/CW4RR10R/pyrogram/archive/asyncio.zip
requests
tgcrypto
sqlalchemy
psycopg2-binary
feedparser
